/*#region START*/

/* COLORS */
$desaturated-red: hsl(0, 36%, 70%);
$soft-red: hsl(0, 93%, 68%);
$dark-grayish-red: hsl(0, 6%, 24%);
$form-background:  #FFF4F4 84.51%;

/* GRADIENTS */
$bg-gradient: linear-gradient(150.03deg, #FFFFFF 0%, #FFF4F4 84.51%);
$btn-base: linear-gradient(135deg, #F8BFBF 0%, #EE8B8B 100%);
$btn-overlay: rgba(255,255,255,0.5);

/* IMAGE URLs */
$hero-mobile: url('../assets/hero-mobile.jpg');
$hero-desktop: url('../assets/hero-desktop.jpg');
$bg-desktop: url('../assets/bg-pattern-desktop.svg');

/* BOX SHADOWS */
$btn-base-shadow: 0px 15px 20px rgba(198, 110, 110, 0.247569);
$btn-overlay-shadow: 0px 15px 20px rgba(198, 110, 110, 0.247569);

/* BREAKPOINTS */
$breakpoint-tablet: 768px;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.6rem;
  background: $bg-gradient;

  @media only screen and (min-width: $breakpoint-tablet) {
    background: $bg-desktop no-repeat;
    background-size: cover;
  }
}
/*#endregion*/


.logo-mobile {
  margin: 3.2rem;

  img{
    width: 10rem;
    height: 2.1rem;
  }
  
  @media only screen and (min-width: $breakpoint-tablet) {
    display: none;
  }
}

.logo-desktop {
  display: none;
  margin-bottom: 13.6rem;

  img {
    width: 15.8rem;
    height: 3.3rem;
  }

  @media only screen and (min-width: $breakpoint-tablet) {
    display: inherit;
  }
}


.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-end;
  text-align: center;

  @media only screen and (min-width: $breakpoint-tablet) {
    flex-direction: row;
  }

  .left {
    width: 100%;
    height: auto;
    padding: 3.2rem;

    @media only screen and (min-width: $breakpoint-tablet) {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      text-align: left;
      padding-top: 4.9rem;
      padding-left: 11.45vw;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;

      @media only screen and (min-width: $breakpoint-tablet) {
        align-items: flex-start;
      }
    }

    h1 {
      font-size: 4.0rem;
      font-weight: 300;
      color: $desaturated-red;
      line-height: 4.2rem;
      letter-spacing: 1.1rem;

      @media only screen and (min-width: $breakpoint-tablet) {
        font-size: 6.4rem;
        line-height: 6.4rem;
        letter-spacing: 1.7rem;
      }

      span {
        color: $dark-grayish-red;
        font-weight: 600;

        @media only screen and (min-width: $breakpoint-tablet) {
          line-height: 7.1rem;
        }
      }
    }

    p {
      max-width: 450px;
      color: $desaturated-red;
      font-size: 1.4rem;
      line-height: 2.2rem;
      margin-top: 1.6rem;

      @media only screen and (min-width: $breakpoint-tablet) {
        font-size: 1.6rem;
        line-height: 2.8rem;
      }
    }
  }

  .right {
    width: 100%;
    height: 250px;
    background-image: $hero-mobile;
    background-size: cover;
    background-position: top left;
    margin-bottom: 3.2rem;

    @media only screen and (min-width: $breakpoint-tablet) {
      width: 80%;
      height: 100vh;
      background-image: $hero-desktop;
    }
  }

  form {
    position: relative;
    display: block;
    height: 4.8rem;
    width: 31.1rem;
    margin: 3.2rem 0;

    @media only screen and (min-width: $breakpoint-tablet) {
      width: 44.5rem;
      height: 5.6rem;
    }

    input {
      position: absolute;
      width: 100%;
      height: 100%;
      outline: none;
      border-radius: 2.8rem;
      top: 0;
      left: 0;
      border: 1px solid $desaturated-red;
      background: $form-background;
      color: $dark-grayish-red;
      padding-left: 2.4rem;
      font-family: 'Josefin Sans', sans-serif;
    }

    input::placeholder {
      opacity: 0.5;
      color: $desaturated-red;
      font-size: 1.4rem;

      @media only screen and (min-width: $breakpoint-tablet) {
        font-size: 1.6rem;
      }
    }

    button {
      cursor: pointer;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 6.4rem;
      border-radius: 2.8rem;
      background: $btn-base;
      box-shadow: $btn-base-shadow;
      outline: none;
      border: none;

      @media only screen and (min-width: $breakpoint-tablet) {
        width: 10.0rem;
      }
    }
    
    button::before {
      display: none;
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      background-color: $btn-overlay;
      box-shadow: $btn-overlay-shadow;
      border-radius: 2.8rem;
    }
    
    button:hover::before {
      display: inline;
    }
  }

  #emailField {
    position: absolute;
    outline: none;
  }

  #errorIcon {
    display: none;
    position: absolute;
    top: 28%;
    left: 68%;
  }

  #errorMessage {
    display: none;
    margin: 0;
    padding: 0;
    color: $soft-red;
  }
}

